<!-- views/reload.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1><%= message %></h1>
  <p>Redirecting back to the <a href="/index">home page</a> in 3 seconds...</p>
  <script>
    setTimeout(() => {
      window.location.href = '/';
    }, 3000); // Redirect to the home page after 5 seconds
  </script>
</body>
</html>
